header {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.nav-center{
  text-align: center;
}

.header-logo,
.header-navigation,
.header-btn {
  padding-left: 30px;
  padding-right: 30px;
}

.btn-daftar {
    color: white;
    background-color: rgb(27, 178, 226);
    border-color: rgb(20, 144, 184);
}

.btn-daftar:hover {
    color: white;
    background-color: rgb(15, 93, 117);
    border-color: rgb(12, 71, 89);
}

.header-h1,
.header-h2 {
  position: absolute;
  font-size: 450%;
  color: white;
  top: 150px;
  width: 100%;
  text-align: center;
}

header{
 background: rgba(200, 54, 54, 0.1);
}
